.textDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.centerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scale: .75;
}

.corner {
  top: 60px;
  left: 160px;
  border-top: 1px solid;
  border-left: 1px solid;
}

.corner2 {
  top: 60px;
  right: 160px;
  border-top: 1px solid;
  border-right: 1px solid;
}

.corner3 {
  bottom: 60px;
  left: 160px;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.corner4 {
  bottom: 60px;
  right: 160px;
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.corner, .corner2, .corner3, .corner4 {
  position: absolute;
  width: 70px;
  height: 70px;
  border-color: rgba(255, 255, 255, 0.3)
}