.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #292929;
    height: 100vh;
    width: 80px;
    Z-index: 1000;
}

.navbarPages {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 82%;
}

.navbarPages p {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    margin: 20px auto 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: rgba(255, 255, 255, 0.41);
}

.navbarPagesIcon {
    position: relative;
    left: 25%;
    top: 25%;
    scale: 1.5;
}

.navbarPages p {
    transition: 500ms all ease-out;
}

.navbarPages p:hover {
    /*background-color: #F68338;*/
    color: #F68338 !important;
    cursor: pointer;
}

.navbarPagesBorder::after, .navbarPagesBorder::before,
.navbarPagesBorder2::after, .navbarPagesBorder2::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    background-color: #F68338;
    transition: 500ms all ease-out;
}

.navbarPagesBorder::after {
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
}

.navbarPagesBorder::before {
    right: 0;
    bottom: 0;
    height: 0;
    width: 1px;
}

.navbarPagesBorder2::after {
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
}

.navbarPagesBorder2::before {
    left: 0;
    top: 0;
    height: 0;
    width: 1px;
}

.navbarPages p:hover .navbarPagesBorder::after,
.navbarPages p:hover .navbarPagesBorder2::after {
    width: 100%;
    height: 1px;
}

.navbarPages p:hover .navbarPagesBorder::before,
.navbarPages p:hover .navbarPagesBorder2::before {
    height: 100%;
    width: 1px;
}

.navbarSocials {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #383838;
}

.navbarSocials::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -3px;
    width: 36px;
    margin-left: -18px;
    height: 6px;
    background-color: #F68338;
}

.navbarSocials a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.41);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 300ms linear;
    margin: 6px auto 0 auto;
}

.navbarSocials a:hover {
    color: #F68338;
}

.navbarSocials a i {
    position: relative;
    left: 35%;
    scale: 1.3;
}

.content {
    position: absolute;
    top: 0;
    left: 80px;
    right: 0;
    bottom: 0;
}